<%
# this partial is used to render flash messages.  this is loaded every time a
# page is rendered and can be used to replace #flash in async calls to show the
# flash
#
# expected locals:
# * flash
#
#flash[:error] = 'Test message'
#flash[:notice] = 'Test message'
#flash[:success] = 'Test message'
-%>
<div id="flash" class="hide">
  <div class="span-1">
    <%= link_to_function 'X', :class => 'remove' do |page|
      page['#flash'].hide
    end %>
  </div>
  <div class="span-16">
    <% if flash[:error] %>
      <div id="error" class="error"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div id="notice" class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:success] %>
      <div id="success" class="success"><%= flash[:success] %></div>
    <% end %>
  </div>
</div>
<%=
# js to show the flash notifications
update_page_tag do |page|
  if flash[:error]
    page['#flash'].show
    # error messages do not expire
  elsif flash[:notice] or flash[:success]
    page['#flash'].show
    # hide the flash notifications after 10 seconds
    page.delay( 10 ) { page['#flash'].hide }
  end
end
%>
