<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :summary %><br/>
    <%= f.text_field :summary %><br/>
    <span class="quiet">One-line project description</span>
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %><br/> 
    <span class="quiet">Full project description (wiki markup accepted)</span>
  </p>

  <% if !@project.new_record? %>
  <p>
    <p><strong>Current Avatar:</strong><br/>
    <%= avatar_thumb(@project.avatar) %></p>
  </p>
  <% end %>

  <p>
    <%= f.label :avatar, 'Upload an avatar' %><br/>
    <%= f.file_field :avatar %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% if !@project.new_record? %>
<h2>Privileges (<%= link_to 'edit', project_privileges_path(@project) %>)</h2>
<table>
  <tr>
    <th>Username</th>
    <th>Access</th>
    <th></th>
  </tr>

<% @project.privileges.each do |privilege| %>
  <tr>
    <td><%= privilege.user.username %></td>
    <td><%= privilege.role.name %></td>
    <td></td>
  </tr>
<% end %>
</table>
<% end %>

