<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= [yield(:title), "Codefoundry"].reject{|item| item.blank? }.join(" - ") %></title>
  <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!-- [if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'screen, projection' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <div id="header-container" class="container">
      <div id="notification-area" class="round-bottom push-3 span-18">
        <%= render :partial => 'shared/system_messages', :locals => {:system_message => @system_message} %>
        <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
        <%= yield :forms %>
      </div>

      <div id="logo" class="span-8">
        <%= link_to '<span id="code">code</span>foundry'.html_safe, root_url %>
      </div>

      <div id="login_shortcut" class="push-10 span-6 last">
        <% if current_user %>
          <%= current_user.username %> - 
          <%= link_to 'Account', account_path %> -
          <%= link_to 'Sign out', logout_path %>
        <% else %>
          <%= link_to 'Log in', login_path %> -
          <%= link_to 'Sign up', signup_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="container-background">
  <div class="container">
    <div id="sidebar" class="span-6 float last">
      <%= yield :pre_sidebar %>
      <%= render 'context_menu' %>
      <%= yield :post_sidebar %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <div id="footer" class="span-24 prepend-top">
      <p>Enterprise source-code management</p>
    </div>
  </div>
  </div>
</body>
</html>
