<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= [yield(:title), "Codefoundry"].reject{|item| item.blank? }.join(" - ") %></title>
  <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <!-- [if lt IE 8]><%= stylesheet_link_tag 'ie', :media => 'screen, projection' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-18">
      <h2><%= link_to 'Codefoundry', root_url, :style => 'text-decoration:none; color:black' %></h2>
    </div>
    <div id="login_shortcut" class="span-6 last">
      <% if current_user %>
        <%= current_user.username %> - 
        <%= link_to 'Account', account_path %> -
        <%= link_to 'Sign out', logout_path %>
      <% else %>
        <%= link_to 'Log in', login_path %> -
        <%= link_to 'Sign up', signup_path %>
      <% end %>
    </div>

    <div id="header-content-separator" class="span-24 last"><hr/></div>

    <div id="content" class="span-18 border">
      <% if flash[:error] %>
        <div id="error" class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div id="notice" class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:success] %>
        <div id="success" class="success"><%= flash[:success] %></div>
      <% end %>
      <%= yield %>
    </div>

    <div id="sidebar" class="span-6 last">
      <%= yield :pre_sidebar %>
      <%= render 'context_menu' %>
      <%= yield :post_sidebar %>
    </div>

    <div id="footer" class="span-18 prepend-top">
      <p>Enterprise source-code management</p>
    </div>
    <div id="sidebar-footer" class="span-6 last">
  </div>
</body>
</html>
